.hero {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.title {
  font-weight: 600;
  font-size: clamp(40px, 5vw, 80px);
  line-height: clamp(40px, 5vw, 82px);
  letter-spacing: -0.32px;
  margin-bottom: 20px;
}
.title_parth {
  font-weight: 600;
  font-style: italic;
  font-size: clamp(40px, 5vw, 80px);
  line-height: clamp(40px, 5vw, 82px);
  letter-spacing: -0.32px;
  color: #54be96;
}
.descHome {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #191a15;
  margin-bottom: 40px;
}
.btn {
  font-family: Inter;
  color: #fbfbfb;
  background-color: #54be96;
  border: none;
  font-weight: 500;
  border-radius: 30px;
  padding: 18px 50px;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
}
.btn:hover {
  background-color: #36a379;
}
.iconArrow {
  vertical-align: middle;
  margin-left: 8px;
}
.wrapperQuantity {
  background-color: #54be96;
  border: none;
  border-radius: 10px;
  width: 70%;
  max-width: 400px;
  height: 60px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 5vw, 16px);
  position: relative;
  padding: 10px;
}
.quantityCheck {
  width: 27px;
  height: 27px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.quantityDescWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quantityDesc {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fbfbfb80;
}
.quantityNumber {
  font-weight: 700;
  font-size: clamp(14px, 5vw, 24px);
  line-height: 100%;
  letter-spacing: 0;
  color: #fbfbfb;
}
.heroImgWrap {
  position: relative;
}
.heroImg {
  display: block;
  min-width: 264px;
  height: 100%;
  border-radius: 10px;
  flex-shrink: 0;
}
.questionWrap {
  transform: rotate(-15deg);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #4535af;
  position: absolute;
  top: 185px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconQuestion {
  transform: rotate(15deg);
}
.usersWrap {
  transform: rotate(15deg);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: #fbc75e;
  position: absolute;
  top: 38px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconUsers {
  transform: rotate(-15deg);
}
@media (min-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .wrapperQuantity {
    top: 333px;
    left: -101px;
    width: 311px;
    height: 118px;
    gap: 16px;
    position: absolute;
    border-radius: 20px;
  }
  .heroImgWrap {
    flex-shrink: 0;
  }
  .heroImg {
    min-width: 464px;
  }
  .questionWrap {
    left: -36px;
  }
  .usersWrap {
    right: -42px;
  }
  .quantityCheck {
    width: 54px;
    height: 54px;
    border-radius: 13px;
  }
  .iconArrow {
    margin-left: 18px;
  }
}

@media (min-width: 1240px) {
  .hero {
    padding-top: 78px;
    padding-bottom: 100px;
    flex-direction: row;
    gap: 125px;
  }
}
