#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 768px) {
  #root {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 480px) {
  #root {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }
}
